/* Menu */

body {
  font-family: Arial, Helvetica, sans-serif;
}

.menu-section {
  display: flex;
  justify-content: space-between;
}

.menu-button,
.submit-button {
  border: 1px solid green;
  width: 100px;
  padding: 10px;
  text-align: center;
  background-color: green;
  color: white;
  border-radius: 3px;
}

.menu-button:hover,
.submit-button {
  cursor: pointer;
}

.menu-options,
.submit-options {
  display: none;
  position: absolute;
}

.visible {
  display: inline;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 200px;
  background-color: lightgray;
  border: 1px solid black;
}

/*TODO: Fix right dropdown*/

li {
  padding: 10px;
  border: 1px solid black;
}

.menu-edit:hover,
.menu-copy:hover,
.menu-delete:hover,
.submit-report:hover,
.submit-opinion:hover,
.subimt-advertisements:hover {
  background-color: goldenrod;
}

/* Image carousel */

.image-carousel {
  border: 1px solid black;
  width: 50%;
  height: 300px;
  display: flex;
  margin: auto;
}

.image-navigators {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.navigator-button {
  border: 1px solid black;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 10px;
}

.pokemon {
    margin: auto;
}